[submodule "wrappers/discord"]
	path = wrappers/discord
	url = git@github.com:srevinsaju/sugaroid-ds
	branch = master
[submodule "wrappers/api"]
	path = wrappers/api
	url = git@github.com:srevinsaju/sugaroid-backend
	branch = master
[submodule "exc"]
	path = wrappers/web
	url = git@github.com:srevinsaju/sugaroid-web
	branch = master
