.idea
__pycache__/*
*.pyc
*.pyo
database.db
sentence_tokenizer.pickle
dist
build
*.egg*
setup.py-sugaroid-gui
.env
resetter
sugaroid/web/websugaroid/.github/
wrappers/discord/.github/
sugaroid/web/flask
sugaroid/web/flask/*
scrawled/*
Untitled.*
untitled.*
sugaroid/reader/scrawled/
Dockerfile
docker-compose.yml
*DELETEME*
*DELETE_ME*
.coverage
coverage.xml
wrappers/irc_client/autobot/src/logs/
wrappers/irc_client/autobot/src/autobot.conf
