[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
newsapi-python = "*"
en-core-web-sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz"}
pyjokes = "*"
pyspellchecker = "*"
python-dotenv = "*"
nltk = "*"
sugaroid-chatterbot-corpus = "*"
freegames = "*"
spacy = "*"
requests = "*"
lxml = "*"
beautifulsoup4 = "*"
django-googlesearch = "*"
scikit-learn = "*"
googletrans = "*"
wikipedia = "*"
"akinator.py" = "*"
emoji = "*"
pyinflect = "*"
Wikipedia-API = "*"
PyYAML = "*"
sugaroid-chatterBot = "*"
CurrencyConverter = "*"

[requires]
python_version = "3.9"
