[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
colorama = "*"
emoji = "*"
nltk = "*"
chatterbot = {git = "https://github.com/sugaroidbot/ChatterBot"}
swaglyrics = "*"
wikipedia-api = "*"
"akinator.py" = "*"
pyjokes = "*"
mediawikiapi = "*"
currencyconverter = "*"
newsapi-python = "*"
python-dotenv = "*"
pyinflect = "*"
pint = "*"
coloredlogs = "*"
pytz = "*"
en-core-web-sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl"}
appdirs = "*"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
mock = "*"

[requires]
python_version = "3.9"

[scripts]
sugaroid = "python3 -m sugaroid"
sugaroid-debug = "python3 -m sugaroid --debug"
docs = "make -C docs html"
lint = "black ."
