https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz
pyjokes
pyspellchecker
nltk
git+git://github.com/gunthercox/chatterbot-corpus.git#egg=chatterbot-corpus
freegames
spacy
requests
lxml
beautifulsoup4
django-googlesearch
scikit-learn
googletrans
MediaWikiAPI
wikipedia
