wikipedia-API
newsapi-python
chatterbot
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
pyspellchecker
python-dotenv
nltk
chatterbot-corpus
colorama
freegames
spacy
gitpython
requests
lxml
beautifulsoup4
django-googlesearch
googletrans
akinator.py
emoji
pyinflect
currencyconverter
