[Desktop Entry]
Version=0.9
Name=sugaroid
GenericName=sugaroid
Comment=Sugaroid Bot
Exec=sugaroid
Icon=sugaroid
Type=Application
Categories=Utility;Development;
StartupWMClass=UGENE
