GitPython
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz
https://github.com/srevinsaju/sugaroid/archive/master.zip
Django
gunicorn
django_heroku
freegames
wikipedia-api
mediawikiapi
sugaroid-chatterbot
sugaroid-chatterbot-corpus
wikipedia-API
pyyaml
newsapi-python
sugaroid-chatterbot
pyjokes
pyspellchecker
python-dotenv
nltk
sugaroid-chatterbot-corpus
freegames
spacy
requests
lxml
beautifulsoup4
django-googlesearch
scikit-learn
googletrans
wikipedia
akinator.py
emoji
pyinflect
currencyconverter
