GitPython
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz
sugaroid
Django
gunicorn
django_heroku
freegames
wikipedia-api
mediawikiapi
sugaroid-chatterbot
sugaroid-chatterbot-corpus
