https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz
discord.py
python-dotenv
-e git://github.com/srevinsaju/sugaroid.git#egg=sugaroid
Django
gunicorn
django_heroku
freegames
psutil
wikipedia-api
chatterbot
mediawikiapi
git+git://github.com/gunthercox/chatterbot-corpus.git#egg=chatterbot-corpus
