[irc]
network = irc.freenode.net
port = 7000
channels = #srevinsaju
nick = sugaroid
nickpass = 10242048
name = sugaroid
ssl = True

[tcp]
host: localhost
port: 47998

[bot]
prefix = !
log_scheme = ./logs/{channel}/%%Y-%%m-{channel}.log

[plugins]
commands = hello, goodbye, slap, ugt, rot13, throw
OP_commands = die, disconect
passive = url_announce, LogFile
